body {
  background-color: #202028;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

.container {
  display: flex;
}

.player {
  flex: 1 1 auto;
}

.canvas-container canvas {
  border: solid 0.2em #fff;
  height: 90vh;
}
