body {
  background-color: #202028;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  display: flex;
}

.player {
  flex: 1 1 auto;
}

.player.local .canvas-container canvas {
  border-color: #fff;
}

.canvas-container canvas {
  border: solid 0.2em #707070;
  height: 90vh;
}
